## **Demo 2**

Dataset: [Healthcare Diabetes Dataset](https://www.kaggle.com/datasets/nanditapore/healthcare-diabetes)

Selection Rationale: I chose this dataset because I am interested in healthcare datasets that can contribute to research, drug development, and treatment innovations. This dataset is very diverse and analysed different diabetes health characterisitcs.

---

### Analysis Objectives & Plan
1. Name objective 1
- Step 1
- Step 2
- Step ...
2. Name objective 2
- Step 1
- Step 2
- Step ...
3. Name objective 3
- Step 1
- Step 2
- Step ...

---

### Import Libraries

In [3]:
# import necessary libraries
import pandas as pd

### Import and Explore Data
- Import dataset and assign to a variable named `df`
- Print/output the following (as pythonically as possible):
    - DataFrame's shape
    - Column names
    - First 5 rows

In [4]:
# import data from csv file
df = pd.read_csv('healthcare_diebetes.csv')

In [5]:
df

,Id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,6,148,72,35,0,33.6,0.627,50,1
1,2,1,85,66,29,0,26.6,0.351,31,0
2,3,8,183,64,0,0,23.3,0.672,32,1
3,4,1,89,66,23,94,28.1,0.167,21,0
4,5,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...,...
2755,2764,2,75,64,24,55,29.7,0.370,33,0
2756,2765,8,179,72,42,130,32.7,0.719,36,1
2757,2766,6,85,78,0,0,31.2,0.382,42,0
2758,2767,0,129,110,46,130,67.1,0.319,26,1
2759,2768,2,81,72,15,76,30.1,0.547,25,0

In [6]:
# df shape
print(df.shape)
# df columns

(2760, 10)

In [7]:
df.shape[1]

10

In [8]:
len(df.shape)

2

In [ ]:
# output first 5 rows

---

##### Objective 1 (but gave it the name that you chose rather than objective) (Learning Outcome 1) (correlation between to columns,)

In [2]:
# drop useless columns

'yadda yadda yadda'

In [ ]:
# compute
'middle middle middle'

In [ ]:
# Step 3
'etc. etc. etc.'

##### Objective 2

In [ ]:
# Step 1
'yadda yadda yadda'

In [ ]:
# Step 2
'middle middle middle'

In [ ]:
# Step 3
'etc. etc. etc.'


##### Objective 3

In [ ]:
# Step 1

In [ ]:
# Step 2

In [ ]:
# Step 3

---

### Conclusions

Report on the details you got.
What to the numbers in the objectives above means. 
Who can use these information.